.userInfo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px;
    gap: 20px;
}
.userInfo .proPic{
    position: relative;
    padding: 0;
}
.userInfo .proPic img{
    width: 50vw;
    max-width: 200px;
    border-radius: 50%;
    border: solid 2px transparent;
    outline: solid 3px #000000;
}
.userInfo .proPic .edit{
    width: 15%;
    height: 15%;
    background-color: #ffffff;
    border: solid 5px transparent;
    outline: solid 3px #000000;
    position: absolute;
    bottom: 9%;
    right: 9%;
    border-radius: 50%;
    cursor: pointer;
}