header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f5f5f5b1;
    padding: min(3vw, 10px) 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 98;
    backdrop-filter: blur(10px);
    min-height: 9vh;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: min(40px, 10vw);
    border-radius: 25%;
    cursor: pointer;
}
header .nav{
    display: flex;
    justify-content: center;
    gap: 15px;
}
header .nav .time{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
header .nav .time img{
    width: min(32px, 5vw);
    height: min(32px, 5vw);
    border-radius: 100%;
    border: solid 2px transparent;
    outline: solid 3px #000000;
}
header .nav .time p{
    font-size: min(18px, 5vw);
}
.nav .side{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav .side .sideBarBtn{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: min(32px, 8vw);
}