.creatAccount{
    background: linear-gradient(#ffffff, #66c2ff) ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    justify-self: center;
    z-index: 50px;
}
.creatAccount h1{
    font-size: min(32px, 5vw);
    font-weight: 700;
}
.creatAccount form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 50%;
    background-color: #ffffffb0;
    padding: 15px 20px;
    border-radius: 10px;
    border: solid #000000 2px;
}
.creatAccount form h2{
    font-size: min(25px, 4vw);
    font-weight: 700;
    margin-bottom: 20px;
}

.creatAccount form input{
    width: min(500px, 80vw);
    padding: 5px 15px;
    font-size: min(16px, 3vw);
    border-radius: 100px;
    border: 2px solid #000000;
    background-color: #ffffff;
    color: #000000;
    font-family: Lalezar, sans-serif;
    outline: none;
    margin: 5px 0;
}
.creatAccount form button{
    padding: 5px 15px;
    margin-top: 10px;
    font-size: min(16px, 3vw);
    font-family: Lalezar, sans-serif;
    cursor: pointer;
    font-weight: 400;
    background-color: #ffffff;
    border: solid 2px #000000;
    border-radius: 100px;
    transition: ease-out 0.3s;
}
.creatAccount form button:hover{
    background-color: #cdebff;
    transform: scale(1.05, 1.05);
}
.creatAccount form button:active{
    background-color: #ffffff;
    transform: scale(0.95, 0.95);
}
.creatAccount form p{
    font-size: min(16px, 3vw);
    font-weight: 400;
}
.creatAccount form p a{
    color: #0099ff;
}

.creatAccount form .inputCont{
    padding: 0;
    position: relative;
    font-size: min(20px, 5vw);
}
.creatAccount form .inputCont svg{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(-50%, -50%);
}