.sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 100;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.on {
    left: calc(100vw - min(100vw, 400px));
    width: min(100vw, 400px);
    display: block;
    animation: shrinkon 0.6s ease;
}

.off {
    left: 100vw;
    width: 0;
    display: none;
    animation: shrinkoff 0.6s ease;
}

.sidebar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px min(25px, 4vw);
    border-bottom: 2px #000 solid;
}

.header img {
    width: min(32px, 25vw);
    height: min(32px, 25vw);
    border-radius: 25%;
    cursor: pointer;
}

.header button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(32px, 6vw);
    color: #ff3c00;
}

.sidebar .container {
    display: flex;
    padding: 10px min(25px, 4vw);
}

.overflowDiv {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
}

.overflowOn {
    display: block;
    backdrop-filter: blur(10px);
    background-color: #00000044;
    animation: overOn 0.6s ease;
}

.overflowOff {
    display: none;
    backdrop-filter: blur(0px);
    background-color: transparent;
    animation: overOff 0.6s ease;
}

@keyframes shrinkoff {
    from {
        left: calc(100vw - min(100vw, 400px));
        width: min(100vw, 400px);
        display: block;
    }

    to {
        left: 100vw;
        width: 0;
        display: none;
    }
}

@keyframes shrinkon {
    from {
        left: 100vw;
        width: 0;
        display: none;
    }

    to {
        left: calc(100vw - min(100vw, 400px));
        width: min(100vw, 400px);
        display: block;
    }
}

@keyframes overOn {
    from {
        display: none;
        backdrop-filter: blur(0px);
        background-color: transparent;
    }

    to {
        display: block;
        backdrop-filter: blur(10px);
        background-color: #00000044;
    }
}

@keyframes overOff {
    from {
        display: block;
        backdrop-filter: blur(10px);
        background-color: #00000044;
    }

    to {
        display: none;
        backdrop-filter: blur(0px);
        background-color: transparent;
    }
}

.acount {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid #000000 2px;
}

.acount img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    width: min(60px, 7vw);
    outline: 3px #000000 solid;
    border: transparent 2px solid;
}

.acount h1 {
    font-size: min(4vw, 32px);
    font-weight: 700;
}