*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Lalezar, Arial ,sans-serif;
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}
#root{
  height: 100vh;
  width: 100vw;
  top: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}
.bigContainer{
  width: 100vw;
  height: 91vh;
  margin-top: 9vh;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
.infoContainer{
    width: min(90%, 1000px);
    margin-left:  calc((100vw - min(90%, 1000px))/2);
    padding-top: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}